<h1>
  Agendamento
</h1>
<h2>
  Pacientes
</h2>

<table>
<tr>
  <td><label>Nome</label></td>
  <td><input [(ngModel)]="paciente.nome"></td>
</tr>
<tr>
  <td><label>Cpf</label></td>
  <td><input [(ngModel)]="paciente.cpf"></td>
</tr>
<tr>
  <td><label>Idade</label></td>
  <td><input [(ngModel)]="paciente.idade"></td>
</tr>
<tr>
  <td><label>Rg</label></td>
  <td><input [(ngModel)]="paciente.rg"></td>
</tr>
<tr>
  <td><label>data</label></td>
  <td><input [(ngModel)]="paciente.data"></td>
</tr>
<tr>
  <td><button (click)="gravar(paciente)">Adicionar</button></td>
</tr>
</table>